* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.cont {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;

}

h1 { color: #2c3e50; }

.texto {
    color: #7f8c8d;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2980b9;
}

ul {
    background: #ecf0f1;
    padding: 20px 40px;
    border-radius: 5px;
}